<template name="Home">
  <h1 class="text-center">Wishing Well</h1>

  {{#if inputWish}}
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="wishText">Wish</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="wishText" placeholder="What is your wish?">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="wishAmount">Amount</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="wishAmount" placeholder="Amount">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Chrity</label>
            <div class="col-sm-10">
              <select class="form-control" id="wishCharity">
                {{#each charities}}
                  <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default wish-form__submit">Make a wish</button>
          </div>
        </form>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <button type="button" class="btn btn-default btn-lg wish__individual">I am an individual</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-default btn-lg wish__group">I am a group</button>
      </div>
    </div>
  {{/if}}
</template>
