<template name="LoginSignupModal">
  <div id="LoginSignupModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="login-signup-form__close">&times;</span></button>
          <h4 class="modal-title">Login</h4>
        </div>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>
          {{#if signupMode}}
            <div class="form-group">
              <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
              </div>
            </div>
          {{/if}}
          <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
              {{#if loginMode}}
                <button type="submit" class="btn btn-default login-signup-form__submit">Login</button>
              {{else}}
                <button type="submit" class="btn btn-default login-signup-form__submit">Sign up</button>
              {{/if}}

            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <div class="col-sm-2">
                {{#if loginMode}}
                  <button type="button" class="btn btn-default login-form__sign-up">Sign up</button>
                {{else}}
                  <button type="button" class="btn btn-default login-form__login">Login</button>
                {{/if}}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
